repos:
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: ['--py36-plus','--exit-zero-even-if-changed']
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: '.*'
        args: ['--profile=black']
-   repo: https://github.com/psf/black
    rev: 21.11b1
    hooks:
    - id: black
      language_version: python
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    - id: flake8
      # TODO: remove F40x, E772 and fix errors
      # Incompatible with black: W503
      args: ['--max-line-length=120','--ignore=W503,E203,F401,F403,F405,E722']
      additional_dependencies:
        # - flake8-print
        - flake8-2020
-   repo: https://github.com/mgedmin/check-manifest
    rev: "0.47"
    hooks:
    -   id: check-manifest
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.910-1'
    hooks:
    -   id: mypy
        files: '^src/'
        additional_dependencies:
          - types-attrs
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks
