repos:
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: ['--py36-plus','--exit-zero-even-if-changed']
-   repo: https://github.com/pycqa/isort
    rev: 5.5.2
    hooks:
      - id: isort
        files: '.*'
        args: ['--profile=black']
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    - id: black
      language_version: python
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: flake8
      args: ['--ignore=E501,W503,E203']