sudo: required
dist: bionic
language: python
cache: pip
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - pip install -r requirements.txt
  - pip install -r requirements_test.txt
  - pip install -e .

script:
#  - pytest --cov=. tests/
  - pytest --mypy --black tests/
  - pytest --black -m black src/

#after_success:
#  - codecov -F $TEST
