include LICENSE
include README.md
include SIDNfonds.png
include requirements*.txt
include src/visions/py.typed
include *.yaml
recursive-include src *.md

exclude Makefile make.bat
recursive-include src *.py

# Include tests
include tox.ini pytest.ini mypy.ini
recursive-include tests *.py
recursive-include tests *.ipynb
recursive-include src/visions/test/data *

# Include examples
recursive-include examples *.py
recursive-include examples *.ipynb

# Exclude visualisation data
exclude src/visions/visualisation/summaries src/visions/visualisation/typesets
recursive-exclude src/visions/visualisation/summaries *
recursive-exclude src/visions/visualisation/typesets *

# Include template
include src/visions/visualisation/circular_packing.html

# Exclude directories
exclude docs docsrc paper
recursive-exclude docs *
recursive-exclude docsrc *
recursive-exclude paper *