numpy
matplotlib
attrs
pandas>=0.25.3
attr
imagehash
networkx
Pillow
pytest
Shapely
tangled_up_in_unicode>=0.0.3
shapely
geopandas>=0.6.0
imagehash
Pillow
pytest>=5.2.0
pytest-ordering
pytest-rerunfailures
pytest-sugar
pytest-tldr
pytest-runner
pytest-mypy
pytest-black
