<table class="freq table table-hover">
    <thead>
    <tr>
        <td class="fillremaining">Value </td>
        <td class="number"> Count </td>
        <td class="number">Frequency (%)</td>
        <td style="min-width:200px">&nbsp;</td>
    </tr>
    </thead>
    {% for key, count in data.items() %}
        <tr class="{{ extra_class }}">
                <td class="fillremaining">{{ key }}</td>
                <td class="number">{{ count }}</td>
                <td class="number">{{((count / total) * 10000 // 1) / 100  }}%</td>
                <td>
                    <div class="bar" style="width:{{ (count / total) * 100 }}%">&nbsp;</div>
                </td>
        </tr>
    {% endfor %}
</table>
