name: CI Dev

on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Configurating Git
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - uses: actions/cache@v1
      name: Cache pip dependencies
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - uses: actions/cache@v1
      name: Cache dev pip dependencies
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements_dev.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install pip dependencies
      run: |
         pip install --upgrade pip
         pip install -r requirements.txt
         pip install -r requirements_dev.txt

    - name: Code formatting using black
      run: black .

    - name: Commit documentation changes
      run: |
        git add -u
        git commit -m "Black code formatting" -a || true

    - name: Install the package
      run: pip install -e .

    - name: Updating plots
      run: |
         cd src/visions/visualisation/ && python plot_circular_packing.py
         cd src/visions/visualisation/ && python plot_summary.py
         cd src/visions/visualisation/ && python plot_typesets.py

    - name: Build the documentation
      run: cd docsrc/ && make github

    - name: Commit documentation changes
      run: |
        git add docs/
        git commit -m "Updating documentation" -a || true

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        branch: master
        directory: docs/
        github_token: ${{ secrets.GITHUB_TOKEN }}
